.orderbook-chart {

    svg {
        fill: $gray-dark;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #aaa;
        shape-rendering: crispEdges;
    }

    .x.axis path {
    }

    .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 2px;
    }

    .orders>path {
        &.bids {
            stroke: #85DDFF;
        }
        &.asks {
            stroke: #EEAA5E;
        }
    }

    .pricelog>path {
        stroke-width: 1.0px;
        //shape-rendering: crispEdges;

        &.lows {
            stroke: #85DDFF;
            opacity: 0.25;
        }
        &.highs {
            stroke: #FFE574;
            opacity: 0.25;
        }
    }

    .grid {
        opacity: 0.1;
        .tick {
            fill: none;
            shape-rendering: crispEdges;
            stroke: $gray-dark;
        }
        path {
            stroke-width: 0;
        }
    }
}
