@import "bootstrap/bootstrap";
@import "font-awesome/font-awesome.scss";
@import "orderbook_chart.scss";


/* ---------------------------------------------------------------------- */
// COMMON
/* ---------------------------------------------------------------------- */

body {
    background: $bg-body;
}

*:focus {
    outline: none !important;
}

.date, .amount, .address, .code {
    font-family: $font-family-monospace;
    &.red, &.green {
        font-weight: bold;
    }
    &.red {
        color: hsl(0,100%,33%);
    }
    &.green {
        color: hsl(120,100%,33%);
    }
}

.address, .code {
    font-weight: bold;
    background: $gray-lighter;
}

.vertical-table {
    label {
        text-align: right;
    }
}
.dim {
    color: $light;
}

/* ---------------------------------------------------------------------- */
// ftnox-page-header
/* ---------------------------------------------------------------------- */

.ftnox-page-header {
    border-bottom: 1px solid #ddd;
    background: darken($bg-dark, 5%);
    padding-top: 40px;
    box-shadow: hsl($hue,$sat,10%) 0 0 3px inset;
    margin: 0 0 20px;
    h2  {
        color: hsl($hue,$sat,75%);
        line-height: 1em;
        padding: 10px 0 15px;
        margin: 0;
    }
}

/* ---------------------------------------------------------------------- */
// ftnox-tabs
/* ---------------------------------------------------------------------- */

.ftnox-tab-container {
    margin-top: -48px - 22px;
}
.ftnox-tabs.nav-pills {
    margin-top: 49px;
    > li {
        margin: 0 0 2px;
        border-left: 4px solid $bg-body;
        > a {
            border-top: 1px solid $bg-body;
            border-bottom: 1px solid $bg-body;
            margin-right: -31px;
        }
        &:hover {
            border-color: darken($bg-light,15%);
            > a {
                border-color: darken($bg-body,8%);
                background: lighten($bg-body,2%);
            }
        }

    }
    > li.active {
        border-left-color: $link-color;
        > a {
            background: #fff;
            color: $txt;
            z-index: 2;
            font-weight: bold;
            border-color: #ddd;
            &:hover {
                background: #fff;
                color: $txt;
                cursor: default;
            }
        }
    }

}
.ftnox-tab-content .panel {
    min-height: 360px;
    .panel-heading {
        height: 48px;
        h4.panel-title {
            float: left;
            font-size: 1.33em;
            line-height: 38px;
            font-weight: normal;
        }
        .pagination {
            float: right;
            margin: 1px 0;
            > .active > a {
                background: $link-color;
            }
        }
    }
}

/* ---------------------------------------------------------------------- */
// NAVBAR
/* ---------------------------------------------------------------------- */

#navbar.navbar {
    background: none;
    border: none;
    border-top: 3px solid hsl($hue,$sat,5%);
    border-bottom: 1px solid hsl($hue,$sat,30%);
    height: 64px;
    background: $bg-dark;
    margin: 0;

    .nav > li {
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
        &.dropdown:hover > ul.dropdown-menu {
            display: block;    
        }
        > a {
            line-height: 4em;
            padding: 0 2em;
        }
    }

    .nav > li.btn-group {
        margin: 11px 1.5em;
        > .btn {
            background: hsl($hue,15%,20%);
            box-shadow: hsl($hue,$sat,15%) 1px 1px 3px inset;
            border: 1px solid hsl($hue,$sat,28%);
            color: $navbar-default-link-color;
        }
    }
}

/* ---------------------------------------------------------------------- */
// FORMS
/* ---------------------------------------------------------------------- */

.input-group.ig-coin {
    width: 100%;
}
.input-group.ig-coin .input-group-addon {
    width: 25%;
}

.btn-custom {
    @include gradient-vertical(hsl($hue,$sat,96%), hsl($hue,$sat,90%));
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.69);
    box-shadow: hsl($hue,$sat,99%) 0 1px 0 inset;
    -webkit-font-smoothing: antialiased;
    border-color: hsl($hue,$sat,80%);
    color: $txt;

    &:hover {
        @include gradient-vertical(hsl($hue,$sat,97%), hsl($hue,$sat,91%));
        border-color: hsl($hue,$sat,85%);
    }
}

/* ---------------------------------------------------------------------- */
// PANEL
/* ---------------------------------------------------------------------- */

.panel-default > .panel-heading {
    @include gradient-vertical(hsl($hue,$sat,96%), hsl($hue,$sat,90%));
    border-top: 1px solid #fff;
    padding: 5px 15px;
}
.panel-default > .panel-heading > .panel-title {
    font-size: 14px;
    line-height: 20px;
}
.panel-default > .panel-dark {
    padding: 8px 0;
    background: hsl($hue,25%,85%);
    border-top: 1px solid hsl($hue,20%,75%);
    border-bottom: 1px solid hsl($hue,20%,75%);
    box-shadow: hsl($hue,20%,90%) 0 1px 0 inset;
    p {
        margin: 0;
        line-height: 24px;
        &.key {
            color: hsl($hue,$sat,47%);
            font: bold 11px/20px sans-serif;
        }
        &.value {
            font-weight: bold;
            color: $navbar-default-link-color;
            color: $txt;
        }
    }
}

/* ---------------------------------------------------------------------- */
// TABLE
/* ---------------------------------------------------------------------- */

table.table th {
    font-size: 13px;
}

/* ---------------------------------------------------------------------- */
// MARKET TABS
/* ---------------------------------------------------------------------- */

.market-tab {
    display: block;
    float: left;
    box-sizing: border-box;
    height: 56px;
    width: 240px - 8px;
    padding: 8px;
    border-top: 4px solid hsl($hue,10%,55%);
    border-bottom: 1px solid $bg-body;
    margin-right: 8px;
    margin-bottom: -1px;
    background: hsl($hue,10%,45%);
    img {
        float: left;
        margin-right: .75em;
        width: 36px;
        height: 36px;
    }
    span {
        display: block;
        color: hsl($hue,$sat,70%);
        font-weight: bold;
        &.small {
            color: hsl($hue,$sat,60%);
            font-weight: normal;
            line-height: 120%;
        }
    }
    &:hover {
        text-decoration: none;
        border-top-color: hsl($hue,10%,70%);
    }
    &.active {
        color: $txt;
        background: $bg-body;
        border-top-color: $link-color;
        span {
            color: $txt;
            &.small {
                color: $light;
            }
        }
    }
}

/* ---------------------------------------------------------------------- */
// EXCHANGE
/* ---------------------------------------------------------------------- */

#market {
    .orderbook-chart {
        padding: 0 15px 15px;
        font-size: 13px;
    }
    .row {
        padding: 10px 0 0;
    }

    .enter-order {
        .form-group {
            &>label {
                padding-right: 0px;
            }

        }
    }
    .exchange-orders {
        table {
            table-layout: fixed;
        }
    }
}

/* ---------------------------------------------------------------------- */
// ACCOUNT
/* ---------------------------------------------------------------------- */

table.deposits-list, table.withdrawals-list {
    .confirmed {
        color: #ACBDA5;
    }
    .unconfirmed {
        color: #C9C5B0;
    }
}

.account-balance {
    h4 {
        margin: 8px 0;
    }
    .btn {
        margin-left: 15px;
    }
}

/* ---------------------------------------------------------------------- */
// FOOTER
/* ---------------------------------------------------------------------- */

#footer {
    clear: both;
    border-top: 1px solid $bc;
    margin-top: 20px;
    .container {
        padding: 20px 0;
        h5 {
            color: $dim;
        }
        ul {
            list-style: none;
            padding: 0;
            li {
                line-height: 1.8em;
            }
        }
    }
}
