<div class="ftnox-page-header">
    <div class="container">
        <h2>About Us</h2>
    </div>
</div>

<!-- Alerts -->
<div id="app-alerts" class="container"></div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <p class="lead">
                FtNox is a next generation cryptocurrency exchange done right.
            </p>
            <h3>Secure</h3>
            <ul>
                <li>Dedicated Hosting</li>
                <li>Cold Storage Management</li>
                <li>Two-Factor Authentication</li>
                <li>Audit Trail</li>
            </ul>
            <h3>Performant</h3>
            <p>We provide correctness without sacrificing speed. Each order is guaranteed to execute quickly.</p>
            <h3>Customizable</h3>
            <p>Branding is easy. Our interfaces for your customers and your staff are intuitive. See for yourself at our <a>partner sites</a>.</p>
            </div>
        </div>
    </div>
</div>
