<div id="about">

    <h2>About Us</h2>
    <hr/>
    <p class="lead">
        FtNox is a next generation cryptocurrency exchange done right.
    </p>
    <ul>
        <li>Proof of Solvency</li>
        <li>Cold Wallet Storage</li>
        <li>Fastest Engine in the West</li>
    </ul>

    <br />

    <h4>Contact Us</h4>
    <address>
        <strong>FtNox.com</strong><br/>
        2501 Bryant St.</br>
        San Francisco, CA 94110</br>
        <abbr title="Phone">P:</abbr> (415) 409-8733<br/>
        <abbr title="Email">E:</abbr> <a href="email:hello@ftnox.com">hello@ftnox.com</a>
    </address>

</div>
