<div class="account">
    <h2>Account</h2>
    <hr />

    <h4>Account Balance</h4>
    {{render 'account_balance' balance}}
    <br />

    {{!
    <h4>Security</h4>
    <div>
    </div>
    <br />
    }}

    <h4>API Credentials</h4>
    <p>
        Your API Key: <span class="code js-api-key">{{apiKey}}</span>
    </p>
    <p>
        Example request:
    </p>
    <pre>
POST https://ftnox.com/account/balance
Content-Type: application/x-www-form-urlencoded

api_key=<span class="js-api-key">{{apiKey}}</span>
</pre>
    <br style="clear: both;"/>
    <p>
        Please visit the <a href="/#api">API docs</a> for more information.
    </p>
    
</div>
