<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Transaction</th>
            <th></th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="date">04/07/2014</td>
            <td class="comment">You sold DOGE</td>
            <td class="status"><span class="glyphicon glyphicon-time"></span></td>
            <td class="amount red">-974.32 DOGE</td>
        </tr>
        <tr>
            <td class="date">04/07/2014</td>
            <td class="comment">You sold DOGE</td>
            <td class="status"><span class="glyphicon glyphicon-time"></span></td>
            <td class="amount red">-2000.0 DOGE</td>
        </tr>
        <tr>
            <td class="date">04/07/2014</td>
            <td class="comment">You sold DOGE</td>
            <td class="status"><span class="glyphicon glyphicon-time"></span></td>
            <td class="amount red">-2000.0 DOGE</td>
        </tr>
        <tr>
            <td class="date">04/02/2014</td>
            <td class="comment">You purchased DOGE</td>
            <td class="status"><span class="glyphicon glyphicon-ok"></span></td>
            <td class="amount green">+31.337 DOGE</td>
        </tr>
        <tr>
            <td class="date">04/01/2014</td>
            <td class="comment">You received BTC from an external account</td>
            <td class="status"><span class="glyphicon glyphicon-ok"></span></td>
            <td class="amount green">+1.0 BTC</td>
        </tr>
        <tr>
            <td class="date">03/31/2014</td>
            <td class="comment">You sold LTC</td>
            <td class="status"><span class="glyphicon glyphicon-ok"></span></td>
            <td class="amount red">-43.3432 LTC</td>
        </tr>
        <tr>
            <td class="date">03/17/2014</td>
            <td class="comment">You purchased BTC</td>
            <td class="status"><span class="glyphicon glyphicon-ok"></span></td>
            <td class="amount green">+10.74331 BTC</td>
        </tr>
        <tr>
            <td class="date">03/03/2014</td>
            <td class="comment">You received LTC from an external account</td>
            <td class="status"><span class="glyphicon glyphicon-ok"></span></td>
            <td class="amount green">+373.40 LTC</td>
        </tr>
        <tr>
            <td class="date">02/25/2014</td>
            <td class="comment">You purchased BTC</td>
            <td class="status"><span class="glyphicon glyphicon-ok"></span></td>
            <td class="amount green">+1.0 BTC</td>
        </tr>
        <tr>
            <td class="date">02/21/2014</td>
            <td class="comment">You purchased BTC</td>
            <td class="status"><span class="glyphicon glyphicon-ok"></span></td>
            <td class="amount green">+1.0 BTC</td>
        </tr>
        <tr>
            <td class="date">02/18/2014</td>
            <td class="comment">You purchased BTC</td>
            <td class="status"><span class="glyphicon glyphicon-ok"></span></td>
            <td class="amount green">+1.0 BTC</td>
        </tr>
        <tr>
            <td class="date">02/12/2014</td>
            <td class="comment">You purchased BTC</td>
            <td class="status"><span class="glyphicon glyphicon-ok"></span></td>
            <td class="amount green">+1.0 BTC</td>
        </tr>
        <tr>
            <td class="date">02/04/2014</td>
            <td class="comment">You purchased BTC</td>
            <td class="status"><span class="glyphicon glyphicon-ok"></span></td>
            <td class="amount green">+1.0 BTC</td>
        </tr>
        <tr>
            <td class="date">01/30/2014</td>
            <td class="comment">You purchased BTC</td>
            <td class="status"><span class="glyphicon glyphicon-ok"></span></td>
            <td class="amount green">+1.0 BTC</td>
        </tr>
        <tr>
            <td class="date">01/23/2014</td>
            <td class="comment">You purchased BTC</td>
            <td class="status"><span class="glyphicon glyphicon-ok"></span></td>
            <td class="amount green">+1.0 BTC</td>
        </tr>
        <tr>
            <td class="date">01/14/2014</td>
            <td class="comment">You purchased BTC</td>
            <td class="status"><span class="glyphicon glyphicon-ok"></span></td>
            <td class="amount green">+1.0 BTC</td>
        </tr>
        <tr>
            <td class="date">01/02/2014</td>
            <td class="comment">You purchased BTC</td>
            <td class="status"><span class="glyphicon glyphicon-ok"></span></td>
            <td class="amount green">+1.0 BTC</td>
        </tr>
    </tbody>
</table>
