<div class="js-account-balance account-balance">
{{#each balance}}
    <div class="well clearfix" data-coin="{{@key}}">
        <div class="row">
        <div class="col-xs-5">
            <h4><span class="amount">{{divide8 this}}</span> {{@key}}</h4>
        </div>
            <a href="#" class="btn btn-custom js-withdraw col-xs-3">
                <span class="glyphicon glyphicon-circle-arrow-up"></span>
                Withdraw <strong>{{@key}}</strong>
            </a>
            <a href="#" class="btn btn-custom js-deposit col-xs-3">
                <span class="glyphicon glyphicon-circle-arrow-down"></span>
                Deposit <strong>{{@key}}</strong>
            </a>
        </div>
    </div>
{{/each}}
</div>
