<div id="beta" class="col-xs-4 col-xs-offset-4" style="margin-top: 60px;">
    <div class="panel panel-default row">
        <div class="panel-heading">
            <h4 class="panel-title" style="text-align: center">FtNox Beta Signup</h4>
        </div>
        <div class="panel-body">
            <p>
                FtNox is currently in private beta.<br/>
                Sign up below to get on the waitlist.
            </p>
            <hr />
            <form class="form-signup form-horizontal" action="/asd" method="post">
                <input name="email" type="text" class="form-control" placeholder="Email Address" required autofocus>
                <br />
                <input name="country" type="text" class="form-control" placeholder="Country" required>
                <br />
                <input name="state" type="text" class="form-control" placeholder="State / Province" required>
                <br />
                <textarea name="other" class="form-control" placeholder="Altcoins of interest"></textarea>
                <br />
                <button class="btn btn-primary col-xs-offset-7 col-xs-5" type="submit">Beta Signup</button>
            </form>
        </div>
    </div>
</div>
