<div id="site-index">
    <div class="section section-top">
        <div class="container">
            <span class="glyphicon glyphicon-transfer"></span>
            <div class="on-top">
                <h1>Launch Your Bitcoin Exchange.</h1>
                <p>We provide expert technology and hosting for your cryptocurrency exchange.</p>
                <a href="#signup" class="btn btn-custom">Request Invitation</a>
            </div>
        </div>
    </div><!--.section-->

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <h2>Secure</h2>
                    <ul>
                        <li>Dedicated Hosting</li>
                        <li>Cold Storage Management</li>
                        <li>Two-Factor Authentication</li>
                        <li>Audit Trail</li>
                    </ul>
                </div>
                <div class="col-xs-4">
                    <h2>Performant</h2>
                    <p>We provide correctness without sacrificing speed. Each order is guaranteed to execute quickly.</p>
                </div>
                <div class="col-xs-4">
                    <h2>Customizable</h2>
                    <p>Branding is easy. Our interfaces for your customers and your staff are intuitive. See for yourself at our <a>partner sites</a>.</p>
                </div>
            </div><!--.container-->
        </div><!--.row-->
    </div><!--.section-->

    <div class="section section-horizontal">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <h2>Everything</h2>
                </div>
                <div class="col-xs-8">
                    <ul class="horizontal-list">
                        <li class="panel panel-default">KYC</li>
                        <li class="panel panel-default">Multi-currency</li>
                        <li class="panel panel-default">Programmable APIs</li>
                        <li class="panel panel-default">Custom integrations</li>
                    </ul>
                </div>
            </div><!--.container-->
        </div><!--.row-->
    </div><!--.section-->

    <div class="section">
        <div class="container">
            <div class="section-header">
                <h1>Recent News <span class="todo">TODO</span></h1>
            </div>
            <div class="row">
                <div class="section-body col-xs-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                            <p>Consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. <a href="#">Read more &raquo;</a></p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3><a href="#">Maecenas congue ligula ac quam viverra</a></h3>
                            <p>nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. <a href="#">Read more &raquo;</a></p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3><a href="#">Nam tincidunt congue enim</a></h3>
                            <p>Ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. <a href="#">Read more &raquo;</a></p>
                        </div>
                    </div>
                </div>
            </div><!--.container-->
        </div><!--.row-->
    </div><!--.section-->

    <div class="section section-horizontal">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <h2>Visit partner site</h2>
                </div>
                <div class="col-xs-8">
                    <a href="/" class="btn btn-custom">Go to partner site now</a>
                    <span class="todo">TODO</span>
                </div>
            </div><!--.container-->
        </div><!--.row-->
    </div><!--.section-->

    <div class="section" id="signup">
        <div class="container">
            <div class="row">
                <div class="section-header">
                    <h1>Request Invitation</h1>
                </div>
                <div class="col-md-offset-2 col-xs-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Invitation Form</h4>
                        </div>
                        <form class="form-signup form-horizontal panel-panel-default" action="/asd" method="post">
                            <div class="panel-body">

                            <div class="form-group">
                                <label for="name" class="col-xs-3 control-label">Name</label>
                                <div class="col-xs-9"><div class="input-group">
                                    <input name="name" type="text" class="form-control" placeholder="Name" required>
                                </div></div>
                            </div>

                            <div class="form-group">
                                <label for="email" class="col-xs-3 control-label">Email</label>
                                <div class="col-xs-9"><div class="input-group">
                                    <input name="email" type="text" class="form-control" placeholder="Email" required>
                                </div></div>
                            </div>

                            <div class="form-group">
                                <label for="company" class="col-xs-3 control-label">Company</label>
                                <div class="col-xs-9"><div class="input-group">
                                    <input name="company" type="text" class="form-control" placeholder="Company" required>
                                </div></div>
                            </div>

                            <div class="form-group">
                                <label for="linkedin" class="col-xs-3 control-label">LinkedIn</label>
                                <div class="col-xs-9"><div class="input-group">
                                    <input name="linkedin" type="text" class="form-control" placeholder="LinkedIn" required>
                                </div></div>
                            </div>

                            <div class="form-group">
                                <label for="other" class="col-xs-3 control-label">Comments</label>
                                <div class="col-xs-9"><div class="input-group">
                                    <textarea name="other" class="form-control" placeholder="Questions? Comments? Leave them here!"></textarea>
                                </div></div>
                            </div>

                            </div><!--.panel-body-->

                            <div class="panel-footer clearfix">
                                <button class="btn btn-custom col-xs-4 pull-right" type="submit">Send Request</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!--.container-->
        </div><!--.row-->
    </div><!--.section-->

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="section-header">
                    <h1>Founding Team <span class="todo">TODO</span></h1>
                </div>
                <div class="section-body row">
                    <div class="col-xs-4 portrait">
                        <img src="http://placehold.it/300x300">
                        <h3>First Last</h3>
                        <p class="small">Company Position</p>
                        <p>Description of this person.</p>
                    </div>
                    <div class="col-xs-4 portrait">
                        <img src="http://placehold.it/300x300">
                        <h3>First Last</h3>
                        <p class="small">Company Position</p>
                        <p>Description of this person.</p>
                    </div>
                    <div class="col-xs-4 portrait">
                        <img src="http://placehold.it/300x300">
                        <h3>First Last</h3>
                        <p class="small">Company Position</p>
                        <p>Description of this person.</p>
                    </div>
                </div>
            </div><!--.container-->
        </div><!--.row-->
    </div><!--.section-->

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="section-header">
                    <h1>Investors <span class="todo">TODO</span></h1>
                </div>
                <div class="section-body row">
                    <div class="col-xs-4 portrait">
                        <img src="http://placehold.it/300x300">
                        <h3>First Last</h3>
                        <p class="small">Company Position</p>
                        <p>Description of this person.</p>
                    </div>
                    <div class="col-xs-4 portrait">
                        <img src="http://placehold.it/300x300">
                        <h3>First Last</h3>
                        <p class="small">Company Position</p>
                        <p>Description of this person.</p>
                    </div>
                    <div class="col-xs-4 portrait">
                        <img src="http://placehold.it/300x300">
                        <h3>First Last</h3>
                        <p class="small">Company Position</p>
                        <p>Description of this person.</p>
                    </div>
                </div>
            </div><!--.container-->
        </div><!--.row-->
    </div><!--.section-->

</div>
