<div id="market">

    <div class="js-exchange-markets ftnox-page-header">
        {{!--{{render 'exchange_markets' markets=markets}}--}}
    </div>

    <div class="container">

        <!--<h2 class="row js-marketName coin">{{market.name}}</h2>-->

        {{#if user}}
        <div class="row enter-order">
            <div class="col-xs-6">
                <div class="order-form-panel panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Buy {{market.coin}}</h4>
                    </div>

                    <!-- todo: replace hard coded values with balance -->   
                    <div class="panel-dark clearfix">
                        <div class="col-xs-6">
                            <p class="key">Your Balance</p>
                            <p class="value"><a href="/#account">24.2459 {{market.basisCoin}}</a></p>
                        </div>
                        <div class="col-xs-6">
                            <p class="key">Lowest Ask Price</p>
                            <p class="value">0.00000417 {{market.basisCoin}}</p>
                        </div>
                    </div>

                    <div class="panel-body">
                        <form class="form-buy form-horizontal">
                            <div class="form-group">
                                <label for="amount" class="col-xs-4 control-label">Amount</label>
                                <div class="col-xs-8"><div class="input-group ig-coin">
                                    <input name="amount" type="text" class="form-control" placeholder="" required>
                                    <span class="input-group-addon"><span class="coin">{{market.coin}}</span></span>
                                </div></div>
                            </div>
                            <div class="form-group">
                                <label for="price" class="col-xs-4 control-label">Price per {{market.coin}}</label>
                                <div class="col-xs-8"><div class="input-group ig-coin">
                                    <input buy-price name="price" type="text" class="form-control" placeholder="" required value="{{market.last}}">
                                    <span class="market-name input-group-addon"><span class="coin">{{market.basisCoin}}</span></span>
                                </div></div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-4 control-label">Total Cost</label>
                                <div class="col-xs-8" style="margin-top: 6px;">{{! HACK }}
                                    <span class="send_amount">0</span>
                                    {{market.basisCoin}} (or less)
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer clearfix">
                        <button class="btn btn-primary btn-custom pull-right col-xs-4" type="submit">Buy <strong>{{market.coin}}</strong></button>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="order-form-panel panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Sell {{market.coin}}</h4>
                    </div>

                    <!-- todo: replace hard coded values with balance -->   
                    <div class="panel-dark clearfix">
                        <div class="col-xs-6">
                            <p class="key">Your Balance</p>
                            <p class="value"><a href="/#account">3,424.524 {{market.coin}}</a></p>
                        </div>
                        <div class="col-xs-6">
                            <p class="key">Highest Bid Price</p>
                            <p class="value">0.000003974 {{market.basisCoin}}</p>
                        </div>
                    </div>

                    <div class="panel-body">
                        <form class="form-sell form-horizontal">
                            <div class="form-group">
                                <label for="amount" class="col-xs-4 control-label">Amount</label>
                                <div class="col-xs-8"><div class="input-group ig-coin">
                                    <input name="amount" type="text" class="form-control" placeholder="" required>
                                    <span class="input-group-addon"><span class="coin">{{market.coin}}</span></span>
                                </div></div>
                            </div>
                            <div class="form-group">
                                <label for="price" class="col-xs-4 control-label">Price per {{market.coin}}</label>
                                <div class="col-xs-8"><div class="input-group ig-coin">
                                    <input sell-price name="price" type="text" class="form-control" placeholder="" required value="{{market.last}}">
                                    <span class="market-name input-group-addon"><span class="coin">{{market.basisCoin}}</span></span>
                                </div></div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-4 control-label">Total Credit</label>
                                <div class="col-xs-8" style="margin-top: 6px;">{{! HACK }}
                                    <span class="receive_amount">0</span>
                                    {{market.basisCoin}} (or more)
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer clearfix">
                        <button class="btn btn-primary btn-custom pull-right col-xs-4" type="submit">Sell <strong>{{market.coin}}</strong></button>
                    </div>
                </div>
            </div>
        </div>

        {{/if}}

        {{#if user}}
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Open Orders</h3>
                    </div>
                    <div class="panel-body js-pending-orders">
                        {{render 'exchange_pending_orders' orders}}
                    </div>
                </div>
            </div>
        </div>
        {{/if}}

        <!-- orderbook chart -->
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Orderbook Chart</h3>
                    </div>
                    <div class="panel-body">
                        <div class="js-chart orderbook-chart"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Bids</h3>
                    </div>
                    <div class="panel-body">
                        <div class="js-bids">
                            {{render 'exchange_orders' bids}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Asks</h3>
                    </div>
                    <div class="panel-body">
                        <div class="js-asks">
                            {{render 'exchange_orders' asks}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div><!--.container-->

</div>
