<!-- Fixed navbar -->
<div id="navbar" class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img src="/img/logo.png" alt="FtNox" height="24"/>
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                {{#if user}}
                    <li name="market"><a class="active" href="/#market">Trade</a></li>
                {{/if}}
                    <li name="contact"><a href="/#api">API</a></li>
                    <li name="about"><a href="/#about">About</a></li>

                {{#if user}}

                    <li class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        {{user.email}} <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="/#account">Account</a></li>
                        {{#if user.roles.treasury}}
                            <li name="treasury"><a href="/treasury/">Treasury</a></li>
                        {{/if}}
                        <li class="divider"></li>
                        <li><a href="/#logout">Logout</a></li>
                      </ul>
                    </li>

                {{else}}
                    <li name="login"><a href="/#login">Login</a></li>
                {{/if}}
            </ul>
        </div>
    </div>
</div>

<!-- Begin page content -->
<div id="content">{{{content}}}</div>

<div id="footer">
    <div class="container">
        <div class="col-xs-3">
            <h5>About</h5>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#">Legal</a></li>
                <li>&nbsp;</li>
                <li>&copy; 2014 AllInBits, Inc.</li>
            </ul>
        </div>
        <div class="col-xs-3">
            <h5>Resources</h5>
            <ul>
                <li><a href="#api">API</a></li>
            </ul>
        </div>
        <div class="col-xs-3">
            <h5>Location</h5>
            <ul>
                <li>Ft Nox</li>
                <li>2501 Bryant St,</li>
                <li>San Francisco, CA 94110</li>
                <li><a href="callto:+14154098733">+14154098733</a></li>
            </ul>
        </div>
        <div class="col-xs-3">
            <h5>Contact</h5>
            <ul>
                <li><a href="mailto:hello@ftnox.com">hello@ftnox.com</a></li>
                <li><a href="mailto:invest@ftnox.com">invest@ftnox.com</a></li>
                <li><a href="mailto:careers@ftnox.com">careers@ftnox.com</a></li>
                <li><a href="https://twitter.com/ft_nox">@ft_nox (Twitter)</a></li>
            </ul>
        </div>
    </div>
</div>
