<!-- Fixed navbar -->
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="/">
                <img class="navbar-logo" src="/img/logo.png" alt="FtNox"/>
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                {{#if user.roles.treasury}}
                    <li name="treasury"><a href="/treasury/">Treasury</a></li>
                {{/if}}
                {{#if user}}
                    <li name="market"><a href="/#market">Trade</a></li>
                    <li name="account"><a href="/#account">Account</a></li>
                {{/if}}
                    <li name="contact"><a href="/#api">API</a></li>
                    <li name="about"><a href="/#about">About</a></li>
                {{#if user}}
                    <li name="logout"><a href="/#logout">Logout</a></li>
                {{else}}
                    <li name="login"><a href="/#login">Login</a></li>
                {{/if}}
            </ul>
        </div>
    </div>
</div>

<!-- Alerts -->
<div id="app-alerts" class="container">
</div>

<!-- Begin page content -->
<div id="content" class="container">
    {{{content}}}
</div>


<div id="footer">
    <div class="container">
        <p class="credit">AllInBits, Inc. 2014</p>
    </div>
</div>
