<div class="ftnox-page-header">
    <div class="container">
        <h2>Register</h2>
    </div>
</div>

<!-- Alerts -->
<div id="app-alerts" class="container"></div>

<div id="register" class="col-xs-4 col-xs-offset-4">
    <div class="panel panel-default row">
        <div class="panel-heading">
            <h4 class="panel-title" style="text-align: center">Registered!</h4>
        </div>
        <div class="container">
            <p class="lead">Now check your email at <b>{{email}}</b> and click on the confirmation link.</p>
            <p>If you don't see the email, check your spambox.</p>
        </div>
    </div>
</div>
