<!DOCTYPE html>
<html>
<head>
    <title>FtNox</title>
    <link rel="stylesheet" media="screen" href="/css/bootstrap.sortable.css"></link>
    <link rel="stylesheet" media="screen" href="/css/style.css"></link>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>

<!-- Everything goes in here -->
<div id="main">
    {{{main}}}
</div>

<!-- Placed at the end so page loads faster -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/bootstrap.sortable.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/jquery.qrcode.min.js"></script>
<script src="/js/sugar.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/d3.v3.min.js"></script>
<script src="/js/chart.js"></script>

</body>
</html>
