<div class="col-xs-6 col-xs-offset-3" style="margin-top: 60px;">
    <div class="panel panel-default row">
        <div class="panel-heading">
            <h4 class="panel-title" style="text-align: center">Set up Two Factor Authentication</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-7">
                    <p>
                        Two Factor Authentication is required to protect your account.<br/>
                        Install <a href="https://support.google.com/accounts/answer/1066447?hl=en">Google Authenticator</a>,
                        then scan the barcode and enter the 6 digit code.
                    </p>
                    <form class="form-totp form-inline">
                        <input name="code" type="text" class="form-control" style="width: 140px;" placeholder="6 digit auth code" required autofocus>
                        <button class="btn btn-primary" type="submit" style="">Submit</button>
                    </form>
                </div>
                <div class="col-xs-5">
                    <img src="/auth/totp_qr.png" style="width: 100%;"/>
                </div>
            </div>
        </div>
    </div>
</div>
