<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Seed MPK</h4>
    </div>
    <div class="panel-body">
        <form class="form-store-privkey form-horizontal" action="mpk" method="POST">
            <div class="form-group">
                <label for="pubKey" class="col-xs-2 control-label">PubKey</label>
                <div class="col-xs-8">
                    <input type="text" name="pubKey" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label for="privKey" class="col-xs-2 control-label">PrivKey</label>
                <div class="col-xs-8">
                    <input type="text" name="privKey" class="form-control"/>
                </div>
            </div>
            <button class="btn btn-primary col-xs-offset-2 col-xs-8" type="submit">Seed</button>
        </form>
    </div>
</div>
